/* font */
@import url('https://cdn.jsdelivr.net/npm/galmuri@latest/dist/galmuri.css');


/* header */
#header{
    background-color: #BCBCBC;
    border: 4px solid #E6E6E6;
}

/* header_wrap */
#header_wrap{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 50px;
}

/* logo */
#logo{
    width: 30px;
    height: 30px;
    object-fit: cover
}

/* search_box */
#search_box{
    position: relative;
}

#search_box input{
    width: 500px;
    height: 40px;
    margin: 0 10px;
    border: 4px solid #E6E6E6;
    font-family: 'Galmuri11';
    text-align: center;
}

#search_btn{
    border: none;
    position: absolute;
    right: 22px;
    top: 13px;
    background: url(../images/search.png) no-repeat;
    height: 15px;
    width: 15px;
    cursor: pointer;
}

/* con_wrap */
.con{
    height: 100vh;
    background: #008081;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    font-family: 'Galmuri11';
    color: #fff;
}
#container li{
    margin-bottom: 50px;
    cursor: pointer;
}

#container li:hover{
    background: #BCBCBC;
    color: #333;
}

#container p{
    font-family: 'Galmuri11';
    font-weight: 700;
    font-size: 23px;
    margin-bottom: 20px;
}

#container span{
    margin: 10px 0;
    width: 200px;
    padding: 15px;
    display: block;
    border: 3px solid #fff;
}

/* footer */
#footer{

}