anyio==3.6.1
data-reader==0.0.8
fastapi==0.79.0
finance-datareader==0.9.34
h11==0.13.0
idna==3.3
ijson==3.1.4
Jinja2==3.1.2
lxml==4.9.1
MarkupSafe==2.1.1
numpy==1.23.1
packaging==21.3
pandas==1.4.3
pandas-datareader==0.10.0
parso==0.8.3
pickleshare==0.7.5
Pillow==9.2.0
plotly==5.9.0
prompt-toolkit==3.0.30
psutil==5.9.1
pure-eval==0.2.2
pydantic==1.9.1
Pygments==2.12.0
pyparsing==3.0.9
python-dateutil==2.8.2
python-dotenv==0.20.0
pytz==2022.1
pywin32==304
PyYAML==6.0
pyzmq==23.2.0
pydantic==1.9.1
pyparsing==3.0.9
python-dateutil==2.8.2
python-dotenv==0.20.0
python-multipart==0.0.5
pytz==2022.1
PyYAML==6.0
requests==2.28.1
requests-file==1.5.1
router==0.1
six==1.16.0
sniffio==1.2.0
soupsieve==2.3.2.post1
stack-data==0.3.0
starlette==0.19.1
tenacity==8.0.1
tornado==6.2
tqdm==4.64.0
traitlets==5.3.0
typing_extensions==4.3.0
urllib3==1.26.10
uvicorn==0.18.2
watchfiles==0.15.0
wcwidth==0.2.5
webencodings==0.5.1
websockets==10.3
yfinance==0.1.74
starlette==0.19.1
tqdm==4.64.0
typing_extensions==4.3.0
urllib3==1.26.10
uvicorn==0.18.2
websockets==10.3
