/* con_wrap */
#con_wrap{
    flex-direction: column;
    padding: 50px 0;
}

/* name */
#name{
    font-family: 'Galmuri11';
    width: 500px;
    background: #BCBCBC;
    color: #333;
    border: 3px solid #fff;
    font-size: 20px;
    line-height: 2;
    margin-bottom: 40px;
}

/* chart */
/* #myChart{
    border: 3px solid #fff;
    margin: 50px 0;
    width: 800px;
    height: 600px;
} */

/* virtual_text */
#virtual_text{
    margin: 30px 0;
    line-height: 2;
    font-family: 'Galmuri11';
}

/* trading_box */
#trading_box{
    border: 3px solid #fff;
    width: 400px;
    padding: 20px 0;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

/* .price */
.price{
    width: 100px;
    border: 3px solid #fff;
    border-radius: 5px;
    line-height: 1.5;
    margin-bottom: 10px;
}

/* trading_text */
#trading_text{
    width: 50px;
    text-align: center;
    background: transparent;
    border: 3px solid white;
    border-radius: 5px;
    line-height: 2;
    font-size: 18px;
}

#trading_box > form > input::placeholder {
    color: white;
    font-family: 'Galmuri11';
}

/* trading_btn */
#trading_btn{
    width: 60px;
}

#trading_box button{
    border: none;
    background-color: transparent;
    color: #fff;
    font-family: 'Galmuri11';
    font-size: 18px;
    border: 3px solid #fff;
    border-radius: 5px;
    cursor: pointer;
    line-height: 1.5;
}

#trading_box button:first-child{
    margin-bottom: 20px;
}
