<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="{{ url_for('static', path='/css/style.css') }}" rel="stylesheet">
    <link href="{{ url_for('static', path='/css/trading.css') }}" rel="stylesheet">
    <link href="{{ url_for('static', path='/css/reset.css') }}" rel="stylesheet">
    <title>트리플 이응 - 주식정보</title>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/3.8.0/chart.min.js"></script>
</head>
<body>
    <div id="container_wrap">
        <header id="header">
            <div id="header_wrap">
                <div id="logo">
                    <a href="./top5"><img src="../static/images/logo.png" alt="트리플이응 로고"></a>
                </div>
                <!-- //logo -->
                <div id="search_box">
                    <form>
                        <input id="input_search" type="search" placeholder="종목을 입력하세요.">
                    </form>
                    <button id="search_btn"></button>
                </div>
                <!-- //search_box -->
            </div>
            <!-- //header_wrap -->
        </header>
        <!-- //header -->
        <div class="icon">
            <span>Setting</span>
            <span>Internet explorer</span>
            <span>Recycle bin</span>
            <span>Folder</span>
        </div>
        <!-- //icon -->
        <div id="con_wrap" class="con">
            <h1 id="name">{{payload["name"]}}</h1>
            <!-- //name -->
            <div class="col-md-6">
                <canvas id="myChart" width="700" height="300" style="background-color: #fff;"></canvas>
            </div>
            <!-- //chart -->
            <p id="virtual_text">※ 이 페이지는 주식 가상 체험 사이트 입니다. ※ <br>
                실제 거래를 할 수 없습니다.
            </p>
            <!-- //virtual_text -->
            <div id="trading_box">
                <ul id="price_wrap">
                    <li id="price1" class="price">{{payload["close_price"]}}</li>
                    <!-- <li id="price2" class="price">12654</li>
                    <li id="price3" class="price">12450</li> -->

                </ul>
                <form>
                    <input id="trading_text" type="text" placeholder="몇주">
                </form>
                <div id="trading_btn">
                    <button id="buy">매수</button>
                    <button id="sell">매도</button>
                </div>
            </div>
            <!-- //trading_box -->
        </div>
        <!-- //con_wrap -->
        <footer id="footer">
            <ul id="ft_wrap">
                <li></li>
                <li></li>
                <li></li>
                <li></li>
                <li></li>
            </ul>
        </footer>
        <!-- //footer -->
    </div>
        <!-- //.con -->
    <!-- //container_wrap -->
    <div id="modal">
        <div id="pop_win" class="popup">
            <p>WIN !<br>
                주식이 대박 났어요 !<br>
                다시 시작하시겠습니까?
            </p>
            <div class="pop_btn">
                <button class="btn_yes">YES</button>
                <button class="btn_no">NO</button>
            </div>
        </div>
        <div id="pop_gameover" class="popup">
            <p>Game Over<br>
                주식 상장폐지 되었습니다.<br>
                자산을 잃었네요..
            </p>
            <div class="pop_btn">
                <button id="btn_ok">확인</button>
            </div>
        </div>
        <div id="pop_worning" class="popup">
            <p>※ 주의 ※<br>
                매도 타이밍을 기다려 보세요
            </p>
            <div class="pop_btn">
                <button class="btn_yes">YES</button>
                <button class="btn_no">NO</button>
            </div>
        </div>
    </div>
    <!-- //modal -->

    <script>
        var data = {{ payload["price_list"] | safe }}

        var label = [] 
        for (let key of Object.keys(data["기간"])) label.push(data["기간"][key])

        var price = []
        for (let key of Object.keys(data["종가"])) price.push(data["종가"][key])

        const ctx = document.getElementById('myChart').getContext('2d');
        const myChart = new Chart(ctx, {
            type: 'line',
            data: {
                labels: label,
                datasets: [{
                    label: '종가',
                    data: price,
                    backgroundColor: [
                        'rgba(255, 99, 132, 0.2)',
                        'rgba(54, 162, 235, 0.2)',
                        'rgba(255, 206, 86, 0.2)',
                        'rgba(75, 192, 192, 0.2)',
                        'rgba(153, 102, 255, 0.2)',
                        'rgba(255, 159, 64, 0.2)'
                    ],
                    borderColor: [
                        'rgba(255, 99, 132, 1)',
                        'rgba(54, 162, 235, 1)',
                        'rgba(255, 206, 86, 1)',
                        'rgba(75, 192, 192, 1)',
                        'rgba(153, 102, 255, 1)',
                        'rgba(255, 159, 64, 1)'
                    ],
                    borderWidth: 1,
                    // pointBackgroundColor: 'red',
                     pointRadius:2
                }]
            },
            options: {
                scales: {
                    y: {
                        beginAtZero: false,
                    }
                }
            }
        });
    </script>
    <script src="../static/js/popup.js"></script>
</body>
</html>