<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/reset.css">
    <link rel="stylesheet" href="/css/style.css">
    <title>트리플 이응</title>
</head>
<body>
    <div class="wrap">
        <div id="container_wrap">
            <header id="header">
                <div id="header_wrap">
                    <div id="logo">
                        <a href="./index.html"><img src="../static/images/logo.png" alt="트리플이응 로고"></a>
                    </div>
                    <!-- //logo -->
                    <div id="search_box">
                        <form>
                            <input id="input_search" type="search" placeholder="종목을 입력하세요.">
                        </form>
                        <button id="search_btn"></button>
                    </div>
                    <!-- //search_box -->
                </div>
                <!-- //header_wrap -->
            </header>
            <!-- //header -->
            <div id="con_wrap" class="con">
                <ul id="container">
                    <a href="./trading.html">
                        <li id="score1">
                            <p>1위</p>
                            <span>삼성전자</span>
                        </li>
                    </a>
                    <a href="./trading.html">
                        <li id="score2">
                            <p>2위</p>
                            <span>카카오</span>
                        </li>
                    </a>
                    <a href="./trading.html">
                        <li id="score3">
                            <p>3위</p>
                            <span>네이버</span>
                        </li>
                    </a>
                    <a href="./trading.html">
                        <li id="score4">
                            <p>4위</p>
                            <span>고려산업</span>
                        </li>
                    </a>
                    <a href="./trading.html">
                        <li id="score5">
                            <p>5위</p>
                            <span>SK하이닉스</span>
                        </li>
                    </a>
                </ul>
                <!-- //container -->
            </div>
            <!-- //con_wrap -->
            <footer id="footer">
                <ul id="ft_wrap">
                    <li></li>
                    <li></li>
                    <li></li>
                    <li></li>
                    <li></li>
                </ul>
            </footer>
            <!-- //footer -->
        </div>
        <!-- //container_wrap -->
    </div>
    <!-- //wrap -->
</body>
</html>