<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="{{ url_for('static', path='/css/style.css') }}" rel="stylesheet">
    <link href="{{ url_for('static', path='/css/reset.css') }}" rel="stylesheet">
    <title>트리플 이응</title>
</head>
<body>
    <div class="wrap">
        <div id="container_wrap">
            <header id="header">
                <div id="header_wrap">
                    <div id="logo">
                        <a href="./index"><img src="../static/images/logo.png" alt="트리플이응 로고"></a>
                    </div>
                    <!-- //logo -->
                    <div id="search_box">
                        <form>
                            <input id="input_search" type="search" placeholder="종목을 입력하세요.">
                        </form>
                        <button id="search_btn"></button>
                    </div>
                    <!-- //search_box -->
                </div>
                <!-- //header_wrap -->
            </header>
            <!-- //header -->
            <div id="con_wrap" class="con">
                <ul id="container">

                    <a href="./trading?code={{payload['code'][0]}}">
                        <li id="score1">
                            <p>1등</p>
                            <span>{{payload["name"][0]}}</span>
                        </li>
                    </a>

                    <a href="./trading?code={{payload['code'][1]}}">

                        <li id="score2">
                            <p>2등</p>
                            <span>{{payload["name"][1]}}</span>
                        </li>
                    </a>

                    <a href="./trading?code={{payload['code'][2]}}">
                        <li id="score3">
                            <p>3등</p>
                            <span>{{payload["name"][2]}}</span>
                        </li>
                    </a>
                    <a href="./trading?code={{payload['code'][3]}}">
                        <li id="score4">
                            <p>4등</p>
                            <span>{{payload["name"][3]}}</span>
                        </li>
                    </a>

                    <a href="./trading?code={{payload['code'][4]}}">

                        <li id="score5">
                            <p>5등</p>
                            <span>{{payload["name"][4]}}</span>
                        </li>
                    </a>
                </ul>
                <!-- //container -->
            </div>
            <!-- //con_wrap -->
            <footer id="footer">
                <ul id="ft_wrap">
                    <li></li>
                    <li></li>
                    <li></li>
                    <li></li>
                    <li></li>
                </ul>
            </footer>
            <!-- //footer -->
        </div>
        <!-- //container_wrap -->
    </div>
    <!-- //wrap -->
</body>
</html>