<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="{{ url_for('static', path='/css/trading.css') }}" rel="stylesheet">
    <link href="{{ url_for('static', path='/css/style.css') }}" rel="stylesheet">
    <link href="{{ url_for('static', path='/css/reset.css') }}" rel="stylesheet">
    <title>트리플 이응 - 주식정보</title>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/3.8.0/chart.min.js"></script>
</head>
<body>
    <div id="container_wrap">
        <header id="header">
            <div id="header_wrap">
                <div id="logo">
                    <a href="./index.html"><img src="../static/images/logo.png" alt="트리플이응 로고"></a>
                </div>
                <!-- //logo -->
                <div id="search_box">
                    <form>
                        <input id="input_search" type="search" placeholder="종목을 입력하세요.">
                    </form>
                    <button id="search_btn"></button>
                </div>
                <!-- //search_box -->
            </div>
            <!-- //header_wrap -->
        </header>
        <!-- //header -->
        <div id="con_wrap" class="con">
            <h1 id="name">삼성전자</h1>
            <!-- //name -->
            <canvas id="line-chart"></canvas>
            <!-- //chart -->
            <div id="data"></div>
            <!-- //data -->
            <p id="virtual_text">※ 이 페이지는 주식 가상 체험 사이트 입니다. ※ <br>
                실제 거래를 할 수 없습니다.
            </p>
            <!-- //virtual_text -->
            <div id="trading_box">
                <ul id="price_wrap">
                    
                    <li id="price2" class="price">{{q|safe}}</li>
                    
                </ul>
                <span id="trading_text">몇주</span>
                <div id="trading_btn">
                    <button id="buy">매수(구매)</button>
                    <button id="sell">매도(판매)</button>
                </div>
            </div>
             <!--//trading_box  -->
        </div>
        <!-- //.con -->
        <footer id="footer"></footer>
    </div>
    <!-- <script src="/static/js/chacha.js" ></script> -->
    <script>
        // var data = JSON.parse({{data}})
        var data = {{ ooo | safe }}

        var label = [] 
        for (let key of Object.keys(data["기간"])) label.push(data["기간"][key])
        var price = []
        for (let key of Object.keys(data["종가"])) price.push(data["종가"][key])

        console.log(data)
        var myChart = $('#line-chart');
        var myLineChart = new Chart(myChart,{
        type:'line',
        data:{
            labels: label,
            datasets:[
                {
                    label: '2022',
                    data: price,
                    backgroundColor: 'lightgray',
                    borderColor: 'white',
                },
            // {
            //     label:'2023',
            //     data:[
            //     2,16,83,49,16,36,48,100,14,79,93,72
            //     ],
            //     backgroundColor: 'skyblue',
            //     borderColor: 'skyblue',
            // }
            ]
        }
        })
    </script>
</body>
</html>